name: Pull Request Verification

on:
  pull_request

jobs:

  windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Initial compile
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat"
        MSBuild WickedShooter.sln /t:WickedEngine_Windows /m /p:Configuration=Release /p:Platform=x64
        MSBuild WickedShooter.sln /t:OfflineShaderCompiler /m /p:Configuration=Release /p:Platform=x64

    - name: Generate shader dump
      shell: cmd
      run: |
        cd "WickedEngine/WickedEngine"
        "../../BUILD/x64/Release/OfflineShaderCompiler/OfflineShaderCompiler.exe" hlsl6 spirv shaderdump strip_reflection

    - name: Recompile with shader dump
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat"
        MSBuild WickedShooter.sln /t:clean /m /p:Configuration=Release /p:Platform=x64
        MSBuild WickedShooter.sln /t:WickedShooter /m /p:Configuration=Release /p:Platform=x64

    - name: Move files
      shell: cmd
      run: |
        move BUILD\x64\Release\WickedShooter\WickedShooter.exe .\WickedShooter_Windows.exe

    - name: Package
      uses: actions/upload-artifact@v4
      with:
        name: WickedShooter (Windows)
        path: |
          WickedShooter_Windows.exe


  linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install libsdl2-dev ccache

    - name: Initial compile
      run: |
        cd WickedEngine
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
        CCACHE_NODIRECT=1 make -j$(nproc)

    - name: Generate shader dump
      run: |
        cd WickedEngine/build/WickedEngine
        ./offlineshadercompiler spirv rebuild shaderdump
        mv wiShaderDump.h ../../WickedEngine/

    - name: Compile WickedShooter
      run: |
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
        CCACHE_NODIRECT=1 make -j$(nproc)

    - name: Move binaries
      run: |
        mv build/WickedShooter ./WickedShooter_Linux

    - name: Package WickedShooter
      uses: actions/upload-artifact@v4
      with:
        name: WickedShooter (Linux)
        path: |
          WickedShooter_Linux

  macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Compile Offlineshadercompiler
      run: |
        xcodebuild clean build -project WickedEngine/WickedEngine/offlineshadercompiler.xcodeproj -scheme offlineshadercompiler -configuration Release

    - name: Generate shader dump
      run: |
        BUILD_PATH="$(xcodebuild -project WickedEngine/WickedEngine/offlineshadercompiler.xcodeproj -scheme offlineshadercompiler -configuration Release -showBuildSettings | grep -m 1 "BUILT_PRODUCTS_DIR" | awk -F' = ' '{print $2}')"
        cd WickedEngine/WickedEngine
        "${BUILD_PATH}/offlineshadercompiler" metal rebuild shaderdump
        cd ../..

    - name: Build Editor
      run: |
        xcodebuild clean build -project WickedShooter.xcodeproj -scheme WickedShooter -configuration Release

    - name: Move files
      run: |
        BUILD_PATH="$(xcodebuild -project WickedShooter.xcodeproj -scheme WickedShooter -configuration Release -showBuildSettings | grep -m 1 "BUILT_PRODUCTS_DIR" | awk -F' = ' '{print $2}')"
        mv "${BUILD_PATH}/WickedShooter" ./WickedShooter_MacOS

    - name: Package WickedShooter
      uses: actions/upload-artifact@v4
      with:
        name: WickedShooter (Mac OS)
        path: |
          WickedShooter_MacOS
